<div class="row">
    <div class="col-12 bg-info">
        Menu
     </div>
</div>
<div class="row">
    <div class="bg-danger col-md-6 col-sm-12">
        Img1
    </div>
    <div class="bg-danger col-md-6 d-none d-md-block">
        Img2
    </div>
</div>
<div class="row">
    <div class="bg-danger col-md-12 col-sm-12">
        Img3
    </div>
</div>
<div class="row">
    <div class="col-md-3 bg-success col-sm-4 col-6">
        art
    </div>
    <div class="col-md-3 bg-success col-sm-4 col-6">
        art
    </div>
    <div class="col-md-3 bg-success col-sm-4 col-6">
        art
    </div>
    <div class="col-md-3 bg-success col-sm-4 col-6">
        art
    </div>
    <div class="col-md-3 bg-success col-sm-4 col-6">
        art
    </div>
    <div class="col-md-3 bg-success col-sm-4 col-6">
        art
    </div>
    <div class="col-md-3 bg-success col-sm-4 col-6">
        art
    </div>
    <div class="col-md-3 bg-success d-sm-none d-md-block  col-6">
        art
    </div>
</div>
<div class="row">
    <div class="col-12 bg-info">
        Footer
     </div>
</div>